* {
    border: 0;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: 1px solid #826A4A;
    width: 32px;
    height: 32px;
    background: #C09D6C url('img/desert1.png');
    background-size: cover;
}

td[n="1"].visible{
    background-image: url('img/mark1.png');
    background-size: cover;
}
td[n="2"].visible{
    background-image: url('img/mark2.png');
    background-size: cover;
}
td[n="3"].visible {
    background-image: url('img/mark3.png');
    background-size: cover;
}
td[n="4"].visible {
    background-image: url('img/mark4.png');
    background-size: cover;
}
td[n="5"].visible {
    background-image: url('img/mark5.png');
    background-size: cover;
}
td[n="6"].visible{
    background-image: url('img/mark6.png');
    background-size: cover;
}
td[n="7"].visible{
    background-image: url('img/mark7.png');
    background-size: cover;
}
td[n="8"].visible {
    background-image: url('img/mark8.png');
    background-size: cover;
}

td[bg="1"]{
	background-image: url('img/desert1.png');
}
td[bg="2"]{
	background-image: url('img/desert2.png');
}
td[bg="3"]{
	background-image: url('img/desert3.png');
}
td[bg="4"]{
	background-image: url('img/desert4.png');
}
td[bg="5"]{
	background-image: url('img/desert5.png');
}

td.c4 {
    background-image: url('img/mine.png');
    background-size: cover;
}

td.explode{
	background-image: url('img/explode.gif');
}

td.grass {
    background-image: url('img/grass.png');
}

td.flag {
    background-image: url("img/mark-mine.png");

}